<%= stylesheet_link_tag "application" %>
<div class="container">
  <h1 style="text-align: left">Receipt</h1>
  <div class="panel panel-default">
    <div>
      <p class="lead" style="padding: 30px 0px 30px 50px">Receipt No. <%= @receipt.number %></p>
      <p class="lead">Date: <%= @receipt.date.strftime("%d/%m/%Y") %></p>
    </div>
    <p class="lead" style="padding-left: 50px">Student Name: <%= @receipt.student.full_name %></p>
    <p class="lead" style="padding-left: 50px">Standard: <%= @receipt.student.standard.name %></p>
    <p class="lead" style="padding-left: 50px">Div: <%= @receipt.student.division.name %></p>
    <div class="update_form">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default receipt" style="width: 95%; margin: 20px auto;">
            <div class="panel panel-default">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th width="50%" style="text-align: center;">Fees</th>
                    <th width="50%" style="text-align: center;">Actual</th>
                  </tr>
                </thead>
                <%= render partial: "fees_head", collection: @receipt.fees_heads %>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <table class="table" style="width: 95%; margin: 50px auto">
            <thead>
              <tr>
                <th width="25%" style="text-align: center;">Cash</th>
                <% if @receipt.cheque_number.present? && @receipt.bank_name.present? %>
                  <th width="25%" style="text-align: center;">Cheque #</th>
                  <th width="25%" style="text-align: center;">Bank Name</th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: center"><%= @receipt.total %></td>
                <% if @receipt.cheque_number.present? && @receipt.bank_name.present? %>
                  <td style="text-align: center"><%= @receipt.cheque_number %></td>
                  <td style="text-align: center"><%= @receipt.bank_name %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <footer class="footer" style="text-align: center; margin-top: 50px;">
      <div class="container">
        <p class="text-muted">Created at <%= @receipt.date.strftime("%d/%m/%Y") %></p>
      </div>
    </footer>
  </div>
</div>
