<%= stylesheet_link_tag "application" %>
<div class="container">
  <div class="page-header">
    <h1 style="text-align: center">Salary Vouchers</h1>
  </div>

  <p class="lead" style="text-align: center">Month: <%= "01/#{@salary.month}/2015".to_date.strftime("%B") %> Year: <%= @salary.year %></p>


  <div class="update_form">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default receipt" style="width: 95%; margin: 20px auto;">
          <div class="panel panel-default">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th width="5%" style="text-align: center;">S/N</th>
                  <th width="25%" style="text-align: center;">Employee Name</th>
                  <th width="25%" style="text-align: center;">Salary</th>
                  <th width="25%" style="text-align: center;">Remarks</th>
                </tr>
              </thead>
              <% @salary.employee_salaries.each_with_index do |salary, i| %>
                <tbody>
                  <tr>
                    <td style="text-align: center;"><%= (i + 1) %></td>
                    <td style="text-align: center;"><%= salary.employee.full_name%></td>
                    <td style="text-align: center;"><%= salary.employee.salary_rate %></td>
                    <td style="text-align: center;"><%= salary.remark %>
                  </tr>
                </tbody>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer" style="text-align: center; margin-top: 50px;">
    <div class="container">
      <p class="text-muted">Created at <%= @salary.created_at.strftime("%d/%m/%Y") %></p>
    </div>
  </footer>
</div>
